<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Tech Blog</title>
  <link rel="stylesheet" type="text/css" href="/css/jass.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    <header>
        <nav id="navBar">
            <div id = 'homeBtn'>Home</div>
            <div id='dashboardBtn'>Dashboard</div>
            <div id="loginBtn">Login</div>
            <div id="logoutBtn">Logout</div>
        </nav>
        <span id="banner">The Tech Blog</span>
    </header>
  {{{ body }}}
  <script src="/js/index.js"></script>
</body>

</html>