<main>
    <div>
        {{#each pageUser.posts as |post|}}
            <div class="card">
                <div class="cardHead">
                    <div class="cardTitle">{{post.title}}</div>
                    <div class="cardInfo">Posted by {{post.username}} on {{post.createdAt}}</div>
                </div>
                <p>{{post.content}}</p>
            </div>
        {{/each}}
    </div>
    {{#if loggedIn}}
    {{#if isUserHome}}
    <sidebar>
        <h1>New Post</h1>
        <form>
            <label>Title: <p>(30 character limit)</p></label>
            <input type = "text" id="title" />
            <label>Content:</label>
            <textarea id="content"></textarea>
            <button class="butn">Create Post</button>
        </form>
    </sidebar>
    {{/if}}
    {{/if}}
</main>
<script src="/js/dashboard.js"></script>