<main>
    <div>
        {{#each pageUser.posts as |post|}}
            <div class="card">
                <div class="cardHead">
                    <div class="cardTitle">{{post.title}}</div>
                    <div class="cardInfo">Posted by {{post.username}} on {{post.createdAt}}</div>
                </div>
                <p>{{post.content}}</p>
            </div>
        {{/each}}
    </div>

    <sidebar>
        <h1>New Post</h1>
        <label>Title:</label>
        <input type = "text" id="title" />
        <label>Content:</label>
        <input type="text" id="content" />
    </sidebar>
</main>