        <main>
            <div>
                {{#each newposts as |post|}}
                <div class = "card">
                    <div class="cardHead">
                        <div class="cardTitle">{{post.title}}</div>
                        <div class="cardInfo">Posted by {{post.username}} on {{post.createdAt}}</div>
                    </div>
                    <p>{{post.content}}</p>    
                </div>
                {{/each}}
            </div>
            <sidebar>
                <h1>Welcome!</h1>
                <p>Want to know what's going on in the world of developing today? Create an account to keep up with fellow devs and update them on your work as well!</p>
                
                <button class="butn" id="signUp" {{#if loggedIn}} style="display:none;"{{/if}}>Sign up!</button>
            </sidebar>
        </main>
        <script src="/js/home.js"></script>