        <main>
            <div>
                <div class = "card">
                <div class="cardHead">
                    <div class="cardTitle">Why MVC is so important</div>
                    <div class="cardInfo">Posted by Xandromus on 5/8/2020</div>
                </div>
                <p>MVC allows developers to maintain a true separation of concerns, devising their code between the Model layer for data, the View layer for design, and the Controller layer for application logic.</p>    
            </div>
            <div class = "card">
            <div class="cardHead">
                    <div class="cardTitle">Authentication vs. Authorization</div>
                    <div class="cardInfo">Posted by Xandromus on 5/8/2020</div>
                </div>
                <p>There is a difference between authentication and authorization. Authentication means confirming your own identity, whereas authorization means being allowed access to the system.</p>    
            </div>
            <div class = "card">
                <div class="cardHead">
                    <div class="cardTitle">Object-Relational Mapping</div>
                    <div class="cardInfo">Posted by Lernantino on 5/8/2020</div>
                </div>
                <p>I have really loved learning about ORMs. It's really simplified the way I create queries in SQL!</p>    
            </div>
            </div>
            <sidebar>
                <h1>Welcome!</h1>
                <p>Want to know what's going on in the world of developing today? Create an account to keep up with fellow devs and update them on your work as well!</p>
                {{#unless loggedIn}}
                <button class="butn" id="signUp">Sign up!</button>
                {{/unless}}
            </sidebar>
        </main>
        <script src="/js/home.js"></script>