<div class = "card">
    <div class="cardHead">
        <div class="cardTitle">Login</div>
    </div>
    <form>
        <label>Username</label>
        <input type="text" id="uname"/>
        <label>Password</label>
        <input type="password" id="pword"/>
        <button class="butn" type="submit">Login!</button>
        <h2 class="butn" id="goToSignup">Not a member? Create Account</h2>
    </form>
</div>

<script src="/js/login.js"></script>