<div class = "card">
    <div class="cardHead">
        <div class="cardTitle">Login</div>
    </div>
    <form>
        <label>Username</label>
        <input type="text" name="uname"/>
        <label>Password</label>
        <input type="text" name="pword"/>
        <button class="butn">Login!</button>
        <h2 class="butn" id="goToSignup">Not a member? Create Account</h2>
    </form>
</div>

<script src="/js/login.js"></script>