<div class = "card">
    <div class="cardHead">
        <div class="cardTitle">Sign Up</div>
    </div>
    <form>
        <label>Username <p>(5-16 characters, numbers and letters only)</p></label>
        <input type="text" id="uname"/>
        <label>Password <p>(6-20 characters)</p></label>
        <input type="password" id="pword"/>
        <label>Confirm Password</label>
        <input type="password" id="confpword"/>
        <button class="butn" type="submit">Sign up!</button>
        <h2 class="butn" id="haveAcc">Already have an account? Log in</h2>
    </form>
</div>
<script src="/js/signup.js"></script>