:root{
    --navColor: rgb(42, 54, 165);
    --pageColor: darkkhaki;
}

header{
    background-color:var(--navColor);
    width:100vw;
    display:flex;
    flex-direction: column;
    align-content:start;
    margin-bottom: 20px;
}

#navBar{
    display:flex;
    justify-content:space-around;
    width:30vw;
    font-size: 20px;
    margin:10px 0px;
    font-weight: 500;
    color:darkkhaki;
}

#navBar *:hover{
    cursor:pointer;
}

#banner{
    background-color:darkkhaki;
    width:max-content;
    padding: 5px 12px;
    font-size: 30px;
    font-weight:700;
    color:var(--navColor);
    margin: 15px 20px 25px 40px;
    border-radius:10px;
    box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.516);
}

body{
    background-color: darkkhaki;
    display:flex;
    width:100vw;
    flex-direction:column;
    position:relative;
}

main{
    display: flex;
    justify-content:space-evenly;
    align-items:center;
}

sidebar{
    background-color: var(--pageColor);
    border: 3px solid var(--navColor);
    width:250px;
    height: max-content;
    display:flex;
    flex-direction:column;
    justify-content:center;
}

sidebar *{
    margin: 5px;
}

sidebar h1, p{
    color:var(--navColor);
    text-align: center;
}

sidebar h1{
    font-size:50px;
}

sidebar p{
    font-size:25px;
}

.card{
    background-color: var(--pageColor);
    border: 2px solid var(--navColor);
    align-self:center;
    width:600px;
    margin-top: 15px;
}

.cardHead{
    background-color: var(--navColor);
    display:flex;
    justify-content:space-between;
    align-content:start;
    padding:7px 0px;
}

.cardTitle{
    color: var(--pageColor);
    font-size: 20px;
    font-weight:500;
    margin-left: 5px;
}

.cardInfo{
    color: var(--pageColor);
    font-size: 15px;
    font-weight:400;
    margin-right: 5px;
}

.card p{
    text-align: left;
    padding: 5px;
    font-weight:500;
}

form{
    display:flex;
    flex-direction: column;
}

form *{
    margin: 5px 0px 0px;
}

form label{
    font-size: 25px;
}

form input:focus{
    outline:none;
    border:2px solid black;
}

form input{
    margin: 5px 15px;
    font-size:22px;
    border:2px solid rgba(0, 0, 0, 0);
    border-radius:5px;
    background-color: rgb(255, 252, 247);
}

label p{
    font-size:14px;
}

button.butn{
    width: 150px;
    align-self:center;
    background-color: rgb(255, 252, 247);
    border-radius: 5px;
}

.butn:hover{
    cursor:pointer;
}

form h2{
    font-size:12px;
    text-decoration: underline;
    align-self:center;
}

